
.my-color {
	color: red;
}

.my-font {
	font-family: 'DaytonaProLight';
}

.my-root-class {
	background: white;
}

.kcFormCardClass{
	background: #FFFFFF;
	margin-left: 100px;
	padding: 50px;
}

.kcLoginClass {
	padding-top: 120px;
}

.my-root-class body {
	background: url(./assets/backgrounding.jpg) no-repeat center center fixed;
}
.left-side,
.right-side {
    flex: 1;
}

.middle-container {
    position: absolute;
    top: 120px;
    left: 300px;
    right: 10px;
    max-width: calc(100% - 620px);
    max-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.separator::before,
.separator::after {
    content: ' ';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator span {
    margin: 0 10px;
}

.zocial:before{
    float: none;
}

.zocial.microsoft:before {
    content: none;
}

.floating-label-group {
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
    margin-right: 20px;

	.floating-label {
		font-size: 13px;
		color: #cccccc;
		position: absolute;
		pointer-events: none;
		top: 9px;
		left: 0px;
		transition: all 0.1s ease;
	}

	input:focus ~ .floating-label {
		top: -25px;
		bottom: 0px;
		left: 0px;
		font-size: 11px;
		opacity: 1;
		color: #404040;
		box-shadow: none;
	}
	
} 

.form-control {
    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-radius: 0;
    box-shadow: none;
}

.form-group {
    margin-bottom: 0px;
}

#kc-form-buttons {
    margin-top: 30px;
}